/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

/* Styling whole page wrapper */
#wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden; /* Fixed invalid 'none' */
    position: relative;
}

/* Background overlay */
#wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/ASSETS/Screenshot\ 2025-03-14\ 222433.png);
    background-size: cover;
    background-position: center;
    filter: brightness(40%) opacity(95%);
    z-index: -1;
}

/* Main content container */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Styling the heading of the page */

#heading_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#main_header {
    text-align: center;
    font-size: 5em;
    color: #f1a22d;
    border-radius: 0.5rem;
    padding: 0.25em;
}

/* Tagline styling */

#tagline {
    display: inline-block;
    color: #f1a22d;
    margin-bottom: 2em;
    border-radius: 0.5rem;
    padding: 0.25em;
}

/* Hero banner styling */
.infinite {
    margin-top: 50px;
    width: 75%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

#roller {
    position: relative;
    width: 100%;
    height: 100%;
}

#roller img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0;
    position: absolute;
    transition: opacity 3s ease-in-out;
}

#roller img.active {
    opacity: 1;
}

#info{
    display: flex;
    align-items: center;
    width: 75%;
    gap: 20px;
    justify-content: center;
}

.textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position:relative;
    height: 200px;
    max-width:150px;
    border-radius:5px;
    color: white;
    padding:5px;
}

.textbox::before{
    content:'';
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 26, 8, 0.733);
    z-index: -1;
    background-size: cover;    
}


/* Footer styling for GitHub link */
footer {
    display: flex;
    margin-top: auto;
    width: 100%;
}

a{
    height: 25px;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    color: #f1a22d;
    transition: transform 1s ease-in-out;
    margin-left: 10px;
    margin-bottom: 10px;

}

a:hover{
    transform: scale(1.3); 
    transform-origin: center;
}

