/* styling whole page wrapper*/

#wrapper{
    display:flex;
    flex-direction: column;
    height: 100vh;
}

main{
    flex: 1;
}

/* styling of the log in button top centre of the screen*/
header{
margin-top: 0;
padding: 0;
height: fit-content;
}

#menu{
    display: flex;
    justify-content: end;
    margin-top: 3px;
    margin-right: 15px;
}

a{
    text-decoration: none;
    font-family:'Helvetica Neue';
    color: #a96d5d;
}

/* class for the login button allowing a growth animation on hover */

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.3);
}

/* Styling the heading of the page 'Welcome to Planted'*/

#heading_box{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

#main_header{
    text-align: center;
    font-size: 75px;
    color:#a96d5d;
    padding:0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 0;
    border-radius: 5px;

}

/* tagline is welcome to growth */

#tagline{
    display: inline-block;
    color:#a96d5d;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #EDE1E4;
    padding: 5px;
    
}


html, body{
    font-family:'Helvetica Neue';
    margin: 0;
    padding: 0;
}


/* footer stylings GitHub link */
footer{
    background-color: #EDE1E4;
    display:flex;
    justify-content: center;
}

#GitHub{
    width:50px;
    height:50px;
}

